.dogCard {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}

.buttonContainer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
}

.dogCard img {
  max-width: 100%;
  height: auto;
}

.dogCard h6 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.dogCard p {
  margin-bottom: 10px;
  color: #666;
}

.dogCard button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

.dogCard button:hover {
  background-color: #0056b3;
}
