.dog-search-page .dog-card {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  max-width: 250px;
  text-align: center;
}

.favorites-modal .dog-card {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
}

 .dog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
}

.button-container {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
}

.dog-card img {
  max-width: 100%;
  height: auto;
}

.dog-card h6 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.dog-card p {
  margin-bottom: 10px;
  color: #666;
}

.dog-card button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

.dog-card button:hover {
  background-color: #0056b3;
}
