.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 350px;
}

.paginationControls span {
  margin: 0 15px;
}

.paginationControls select {
  padding: 8px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 50px;
}

.paginationControls select:hover {
  background-color: #e6f3ff;
}

.paginationControls button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.paginationControls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  color: #aaa;
}

.paginationControls button:not(:disabled):hover {
  background-color: #0056b3;
}
