.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.modal {
  background-color: #fff;
  padding: 50px 50px 60px 50px;
  border-radius: 8px;
  max-width: 500px;
  position: relative;
}

.ageFilters,
.breedSelect,
.locationFilter {
  margin: 20px 0;
}

.sortModal {
  position: relative;
}

.sortModal .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ddd;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  transition: background 0.3s;
}

.sortModal .closeButton:hover {
  background: #ccc;
}

.sortModal .breedSortSelect {
  width: 90%;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.sortModal h3 {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
}

.applyFilterButton {
  background: #3f51b5;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
  display: block;
  width: 50%;
  text-align: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.applyFilterButton:hover {
  background: #303f9f;
}

.locationFilter input {
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 90%;
}

.locationFilter label {
  font-weight: 500;
}

.filterSection h3 {
  margin-top: 40px;
}
