.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  max-width: 400px;
}

.breedSelect,
.ageFilters,
.applyFilterButton {
  margin: 10px 0;
}

.sortModal {
  position: relative;
}

.sortModal .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.sortModal .breedSortSelect {
  width: 50%;
}
