.dog-search-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  text-align: center;
}

.dog-search-page h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.dog-search-page select,
.dog-search-page button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dog-search-page select {
  width: 33%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dog-search-page button {
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

.dog-search-page button:hover {
  background-color: #0056b3;
}

.upper-container {
  position: relative;
}

.dog-search-page .buttons-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.dog-search-page .get-match-button {
  background-color: green;
  color: white;
}

.dog-search-page .get-match-button:hover {
  background-color: darkgreen;
}

.sort-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.age-filters {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  font-size: 14px;
}

.age-filters p {
  margin-top: 10px;
}

.age-filters label {
  font-size: 14px;
  color: #333;
}

.age-filters input {
  width: 50px;
  padding: 2px;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
}


.dog-search-page .logout-button {
  padding: 10px 20px;
  background-color: #ffdddd;
  color: #900;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.dog-search-page .logout-button:hover {
  background-color: #ffbbbb;
  color: #700;
}

.loading-placeholder {
  height: 33%;
  width: 33%;
  max-width: 400px;
  margin: auto;
}

.dog-cards-container {
  display: flex;
  flex-wrap: wrap;
}
