.dogSearchPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.dogSearchPage select,
.dogSearchPage button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dogSearchPage select {
  width: 33%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dogSearchPage button {
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.dogSearchPage button:hover {
  background-color: #0056b3;
}

.upperContainer {
  position: relative;
}

.dogSearchPage .buttonsContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.dogSearchPage .getMatchBtn {
  background-color: green;
  color: white;
}

.dogSearchPage .getMatchBtn:hover {
  background-color: darkgreen;
}

.sortFilterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ageFilters {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.ageFilters p {
  margin-top: 10px;
}

.ageFilters label {
  font-size: 14px;
  color: #333;
}

.ageFilters input {
  width: 50px;
  padding: 2px;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
}

.dogSearchPage .logoutButton {
  padding: 10px 20px;
  background-color: #ffdddd;
  color: #900;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.dogSearchPage .logoutButton:hover {
  background-color: #ffbbbb;
  color: #700;
}

.loadingPlaceholder {
  height: 33%;
  width: 33%;
  max-width: 400px;
  margin: auto;
}

.dogCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 50px;
}

@media (max-width: 850px) {
  .dogSearchPage .buttonsContainer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    transform: none;
  }
}

.dogSearchPage .favoritesBtn {
  background-color: rgb(153, 26, 153);
}

.dogSearchPage .favoritesBtn:hover {
  background-color: rgb(105, 20, 105);
}
