.dog-search-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.dog-search-page h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.dog-search-page select,
.dog-search-page button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dog-search-page select {
  width: 33%;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dog-search-page button {
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s;
}

.dog-search-page button:hover {
  background-color: #0056b3;
}

.dog-search-page .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dog-search-page .get-match-button {
  background-color: green;
  color: white;
}

.dog-search-page .get-match-button:hover {
  background-color: darkgreen;
}


.dog-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dog-card img {
  margin-bottom: 15px;
}

.dog-card h6 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.dog-card p {
  margin-bottom: 10px;
  color: #666;
}

.dog-card button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 350px;
}

.pagination-controls span {
  margin: 0 15px;
}

.pagination-controls select {
  padding: 8px 12px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  background-color: #fff;
  color: #007BFF;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 50px;
}

.pagination-controls select:hover {
  background-color: #e6f3ff;
}

.pagination-controls button {
  padding: 8px 16px;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-controls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  color: #aaa;
}

.pagination-controls button:not(:disabled):hover {
  background-color: #0056b3;
}

